<!-- INCLUDE overall_header.html -->
{% INCLUDECSS '@verturin_groupemailer/groupemailer.css' %}

<div class="panel groupemailer-panel">
	<div class="inner">

	{% if S_INVALID %}
		<h2>{{ lang('GROUPEMAILER_CONFIRM_INVALID_TITLE') }}</h2>
		<p>{{ lang('GROUPEMAILER_CONFIRM_INVALID') }}</p>
	{% elseif S_RESUBSCRIBED %}
		<h2>{{ lang('GROUPEMAILER_RESUB_TITLE') }}</h2>
		<p>{{ lang('GROUPEMAILER_RESUB_TEXT', USERNAME, SITENAME) }}</p>
		<p class="groupemailer-receipt">{{ lang('GROUPEMAILER_RESUB_UNDO') }} <a href="{{ U_UNSUBSCRIBE }}">{{ lang('GROUPEMAILER_UNSUB_LINK') }}</a></p>
	{% else %}
		<h2>{{ lang('GROUPEMAILER_UNSUB_TITLE') }}</h2>
		<p>{{ lang('GROUPEMAILER_UNSUB_TEXT', USERNAME, SITENAME) }}</p>
		<p class="groupemailer-receipt">{{ lang('GROUPEMAILER_UNSUB_UNDO') }} <a href="{{ U_RESUBSCRIBE }}">{{ lang('GROUPEMAILER_RESUB_LINK') }}</a></p>
	{% endif %}

		<p class="groupemailer-actions"><a href="{{ U_INDEX }}" class="button1">{{ lang('GROUPEMAILER_READ_GO_BOARD') }}</a></p>

	</div>
</div>

<!-- INCLUDE overall_footer.html -->
